<?php 
   $title = 'Usun podany rekord'; 
   $this->headTitle($title);  
?> 
<h1><?php echo $this->escapeHtml($title); ?></h1>  

'<?php echo $this->escapeHtml($employee->emp_name); ?>' jako 
'<?php echo $this->escapeHtml($employee->emp_job); ?>'?  
<?php 
   $url = $this->url('employee', array('action' => 'delete', 'id' => $this->id,)); 
?>  

<form action ="<?php echo $url; ?>" method = "post">
   <div> 
      <input type = "hidden" name = "id" value = "<?php echo (int) $employee->id; ?>" /> 
      <input type = "submit" name = "del" value = "Tak" /> 
      <input type = "submit" name = "del" value = "Nie" /> 
   </div> 
</form>  
