<?php 
$title = 'Employee application'; 
$this->headTitle($title); 
?>  

<img src = "img/clico.png" alt = "CLICO" >
<table class="table"> 

   <tr> 
   
      <th bgcolor = #d0d0e1>Imie</th> 
      <th bgcolor = #d0d0e1>Stanowisko</th> 
      <th bgcolor = #d0d0e1>Edytuj/Usun</th>
   </tr> 
   <?php foreach ($data as $empdata) : ?> 
   <tr>  
      <td bgcolor = #efeff5><?php echo $this->escapeHtml($empdata->emp_name);?></td> 
      <td bgcolor = #efeff5><?php echo $this->escapeHtml($empdata->emp_job);?></td> 
      <td bgcolor = #efeff5> 
         <a href="<?php echo $this->url('employee', 
            array('action'=>'edit', 'id' =>$empdata->id));?>">Edytuj</a> 
         <a href="<?php echo $this->url('employee', 
            array('action'=>'delete', 'id' => $empdata->id));?>">Usun</a> 
      </td> 
   </tr> 
   <?php endforeach; ?> 
</table> 
